<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="jumbotron">
        <form (ngSubmit)="registrar(forma)" #forma="ngForm">
            <h1>Categorias de productos</h1>
            <hr>
            <div class="input-group-prepend">
                <span class="input-group-text col-2">Descripcion</span>
                <input type="text" class="form-control" name="descripcion" [(ngModel)]="categoria.descripcion" required/>
            </div><br>
            <div class="input-group-prepend">
                <span class="input-group-text col-2">Usuario</span>
                <input type="text" class="form-control" name="usuario" [(ngModel)]="categoria.ususario" required/>
            </div><br>
            <button type="submit" class="btn btn-block btn-outline-dark">Registrar</button>
        </form>
    </div>

    <div class="jumbotron">
        <h1>Cambio de Categoria</h1>
        <hr>
        <div class="input-group-prepend">
            <span class="input-group-text col-2">ID</span>
            <input type="text" class="form-control" />
        </div><br>
        <div class="input-group-prepend">
            <span class="input-group-text col-2">Categoria</span>
            <input type="text" class="form-control" />
        </div><br>
        <div class="input-group-prepend">
            <span class="input-group-text col-2">Usuario</span>
            <input type="text" class="form-control" />
        </div><br>
        <button type="submit" class="btn btn-block btn-outline-dark">Actualizar</button>
    </div>

    <table class="table">
        <thead class="bg-light">
            <tr style="color: rgb(8, 8, 8);">
                <th scope="col">ID</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            <tr *ngFor="let tab of tabla; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{tab._id}}</td>
                <td>{{tab.descripcion}}</td>
                <td><button class="btn btn-danger ml-3" (click)="elimiar(tab._id)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>