<app-navbar></app-navbar>
<div class="d-flex">

  <div class="d-flex" style="margin: 10;">
    <div class="jumbotron">
      <h5>Informacion del alumno</h5>
      <p>Nombre: <b>Bernardo Paredes De Santos</b><br>
        Grupo: <b>TIADSM 4A6D</b><br>
        Matricula: <b>190873</b></p>
    </div>
  </div>
  
</div>
<div class="d-flex">

  <div style="margin: 10;">
    <div class="jumbotron">
      <h5><b>Informacion del alumno</b></h5>
      <p>Nombre: <b>Maximiliano Malo Medina</b><br>
        Grupo: <b>TIADSM 4A6D</b><br>
        Matricula: <b>190899</b></p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
